[Unit]
Description=Spine Ultrasound Platform: C++ Hard Real-Time Core
After=network.target

[Service]
Type=simple
# Execution Directory
WorkingDirectory=/opt/spine_ultrasound/cpp_robot_core
ExecStart=/opt/spine_ultrasound/cpp_robot_core/bin/spine_robot_core

# Critical: Allows mlockall and highest scheduler priority Without running as pure Root if possible
LimitMEMLOCK=infinity
LimitRTPRIO=99
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=99

Restart=on-failure
RestartSec=1s

[Install]
WantedBy=spine-ultrasound.target
